@import "../global/reset";

.header {
    background-color: #002e6a;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        .logo {
            color: $main-color;
            font-size: 20px;
            font-weight: bold;
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: $main-color-alt;
            }

            img {
                width: 70px;
            }
        }

        .main-nav {
            display: flex;

            li a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 72px;
                position: relative;
                color: white;
                padding: 0 30px;
                overflow: hidden;
                font-size: 18px;
                transition: $main-transition;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-color: $main-color;
                    top: 0;
                    left: -100%;
                    transition: $main-transition;
                }

                &:hover {
                    color: $main-color;
                    background-color: #044497;

                    &::before {
                        left: 0;
                    }

                }
            }

            .mega-menu {
                position: absolute;
                width: 100%;
                left: 0;
                padding: 30px;
                background-color: white;
                border-bottom: 3px solid $main-color;
                z-index: -1;
                display: flex;
                gap: 40px;
                top: calc(100% + 50px);
                opacity: 0;
                transition: top $main-transition, opacity $main-transition;

                .image img {
                    width: 350px;
                    max-width: 100%;
                }

                .links {
                    min-width: 250px;
                    flex: 1;

                    li {
                        position: relative;

                        &:not(:last-child) {
                            border-bottom: 1px solid #e9e6e6;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 0;
                            height: 100%;
                            background-color: #fafafa;
                            z-index: -1;
                            transition: $main-transition;
                        }

                        &:hover::before {
                            width: 100%;
                        }

                        a {
                            color: $main-color;
                            padding: 15px;
                            display: block;
                            font-size: 18px;
                            font-weight: bold;

                            i {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

        }
    }
}