@import "./global/reset";
@import "./global/animation";

/* Start Landing */
.landing {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -200px;
        width: 50%;
        height: 100%;
        background-color: #ececec;
        z-index: -1;
        transform: skewY(15deg);
        transform-origin: top left;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -200px;
        width: 50%;
        height: 100%;
        background-color: #ececec;
        z-index: -1;
        transform: skewY(-15deg);
        transform-origin: top right;
    }

    .container {
        min-height: calc(95vh - 72px);
        display: flex;
        align-items: center;
        padding-bottom: 140px;
        gap: 15px;

        .text {
            h1 {
                font-size: 30px;
                margin: 0;
                letter-spacing: -2px;
            }

            p {
                font-size: 20px;
                line-height: 1.7;
                margin: 5px 0 0;
                color: #666;
                max-width: 500px;

            }
        }

        .image img {
            position: relative;
            width: 600px;
            animation: zoomIn 5s linear;
        }

    }
    .go-down {
        color: $main-color;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        transition: $main-transition;

        &:hover {
            color: $main-padding-bottom;

        }

        .icon{
            animation: bouncing 1.5s infinite;
            font-size: 20px;
        }
    }
}

/* Start Brands */
.brands {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;
    position: relative;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 40px;

        .box {
            max-height: 200px;
            box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
            background-color: white;
            border-radius: 6px;
            overflow: hidden;
            text-align: center;
            transition: transform $main-transition, box-shadow $main-transition;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
                .icon {
                    animation: moving-arrow 0.6s linear infinite;
                }
            }

            img {
                width: 100px;
                max-width: 100%;
            }

            .content {
                padding: 9px;

                h3 {
                    margin: 0;
                }
            }

            .info {
                padding: 10px;
                border-top: 1px solid #e6e6e7;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: $main-color;
                    font-weight: bold;
                }

                .icon {
                    color: $main-color;
                }
            }
        }
    }
}

/* Start Gallery */
.gallery {
    padding-top: 20px;
    padding-bottom: $main-padding-bottom;
    position: relative;
    background-color: $section-background;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;

        .box {
            padding: 15px;
            border: 2px solid $main-color;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);

            .image {
                position: relative;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgb(255 255 255 / 20%);
                    width: 0;
                    height: 0;
                    opacity: 0;
                    z-index: 2;
                }

                img {
                    max-width: 100%;
                    transition: $main-transition;
                }

                &:hover img {
                    transform: rotate(5deg) scale(1.1);
                }
            }
        }
    }
}

/* Start Features */
.features {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;
    position: relative;
    background-color: white;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;

        .box {
            text-align: center;
            border: 1px solid #ccc;

            .img-holder {
                position: relative;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: -1px;
                    width: 100%;
                    height: 100%;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-style: solid;
                    border-width: 0px 0px 170px 500px;
                    border-color: transparent transparent white transparent;
                    transition: $main-transition;
                }

                img {
                    max-width: 100%;
                }
            }

            &:hover {
                .img-holder::after {
                    border-width: 170px 500px 170px 0;
                }

                a {
                    background-position: left bottom;
                    color: white;
                }
            }

            h2 {
                position: relative;
                font-size: 40px;
                margin: auto;
                width: fit-content;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    left: 15px;
                    height: 5px;
                    width: calc(100% - 30px);
                }
            }

            p {
                line-height: 2;
                font-size: 20px;
                margin: 30px 0;
                padding: 25px;
                color: #777;
            }

            a {
                display: block;
                border: 3px solid transparent;
                width: fit-content;
                margin: 0 auto 30px;
                font-weight: bold;
                font-size: 22px;
                padding: 10px 30px;
                border-radius: 6px;
                transition: $main-transition;
            }
        }

        .quality {
            .img-holder {
                &::before {
                    background-color: rgb(244 64 54 / 60%);
                }
            }

            h2 {
                &::after {
                    background-color: #f44036;
                }
            }

            a {
                color: #f44036;
                border-color: #f44036;
                background: linear-gradient(to right, #f44036 50%, white 50%);
                background-size: 200% 100%;
                background-position: right bottom;
            }
        }

        .time {
            .img-holder::before {
                background-color: rgb(0 150 136 / 60%);
            }

            h2::after {
                background-color: #009688;
            }

            a {
                color: #009688;
                border-color: #009688;
                background: linear-gradient(to right, #009688 50%, white 50%);
                background-size: 200% 100%;
                background-position: right bottom;
            }
        }

        .passion {
            .img-holder::before {
                background-color: rgb(3 169 244 / 60%);
            }

            h2::after {
                background-color: #03a9f4;
            }

            a {
                color: #03a9f4;
                border-color: #03a9f4;
                background: linear-gradient(to right, #03a9f4 50%, white 50%);
                background-size: 200% 100%;
                background-position: right bottom;
            }
        }
    }
}

/* Start Work Steps */
.work-steps {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;
    position: relative;
    background-color: $section-background;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .image {
            width: 380px;
            max-width: 100%;
            margin-right: 100px;
        }

        .info .box {
            background-color: #f6f5f5;
            padding: 30px;
            margin-bottom: 20px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            border: 2px solid white;
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                left: 50%;
                top: 50%;
                position: absolute;
                width: 0;
                height: 0;
                background-color: #ededed;
                transform: translate(-50%, -50%);
                z-index: -1;
                transition: $main-transition;
            }

            img {
                width: 64px;
                margin-left: 30px;
            }

            &:hover::before {
                width: 100%;
                height: 100%;
            }

            h3 {
                margin: 0;
                font-size: 22px;
            }

            p {
                color: #777;
                line-height: 1.7;
                margin: 10px 0 0;
                font-size: 18px;
            }
        }
    }
}

/* Start Exhibitions */
.exhibitions {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;
    position: relative;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;

        .box {
            position: relative;

            &::before,
            &::after {
                content: "";
                background-color: #f3f3f3;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                border-radius: 10px;
                transition: $main-transition;
            }

            &::before {
                width: 100%;
                z-index: -2;
            }

            &::after {
                z-index: -1;
                background-color: #e4e4e4;
                width: 0;
            }

            &:hover {
                &::after {
                    width: 100%;
                }

                img {
                    filter: grayscale(100%);
                }

                .info h3 {
                    color: #777;
                }
            }

            .data {
                display: flex;
                align-items: center;
                padding-top: 30px;

                img {
                    width: calc(100% - 60px);
                    transition: $main-transition;
                    border-radius: 10px;
                }

                .social {
                    width: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    a {
                        width: 60px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon {
                            color: #777;
                            transition: $main-transition;
                        }

                        &:hover {
                            .icon {
                                color: $main-color;
                            }
                        }
                    }
                }
            }

            .info {
                padding-right: 20px;

                h3 {
                    margin-bottom: 0;
                    color: $main-color;
                    font-size: 22px;
                    transition: $main-transition;
                }

                p {
                    margin-top: 10px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}
/* Start Services */
.services {
    padding-top: 20px;
    padding-bottom: $main-padding-bottom;
    position: relative;
    background-color: $section-background;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;

        .box {
            background-color: white;
            box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
            counter-increment: services;
            transition: $main-transition;
            position: relative;

            &::before {
                content: "";
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                top: -3px;
                background-color: $main-color;
                position: absolute;
                width: 0;
                transition: $main-transition;
            }
            &:hover {
                transform: translateY(-10px);

                &::before {
                    width: 100%;
                }
            }

            .icon {
                margin: 30px auto 20px;
                display: block;
                text-align: center;
                color: #d5d5d5;
                font-size: 80px;
            }

            > h3 {
                text-align: center;
                margin: 20px 0 40px;
                font-size: 25px;
                color: $main-color;
            }

            .info {
                padding: 15px;
                position: relative;
                background-color: #f9f9f9;
                text-align: right;

                &::before {
                    content: "0" counter(services);
                    position: absolute;
                    background-color: #002e6a;
                    color: white;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 80px;
                    font-size: 30px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 15px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    background-color: #d5d5d5;
                    top: 0;
                    left: 80px;
                    width: 50px;
                    height: calc(100% + 0.4px);
                    transform: skewX(-30deg);
                }

                a {
                    color: $main-color;
                }
            }
        }
    }
}

/* Start Skills */
.our-skills {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;
    position: relative;

    .container {
        display: flex;
        align-items: center;
        gap: 40px;

        .skills {
            width: 100%;
            flex: 1;
            .skill {
                h3 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 16px 0;
                    span {
                        font-size: 12px;
                        border: 1px solid #ccc;
                        padding: 3px 5px;
                        border-radius: 4px;
                        color: $main-color;
                    }
                }
                .the-progress {
                    height: 30px;
                    background-color: #eee;
                    position: relative;
    
                    span {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        background-color: $main-color;
                        transition: width 0.5s linear;
                    }
                }
            }
            
            
        }
    }
}

/* Start Pricing */
.pricing {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;
    position: relative;
    background-color: $section-background;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;

        .box {
            position: relative;
            box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
            transition: $main-transition;
            background: white;
            text-align: center;
            z-index: 1;

            &::before,
            &::after {
                content: "";
                width: 0;
                height: 50%;
                background-color: #f6f6f6;
                position: absolute;
                z-index: -1;
                transition: $main-transition;
            }

            &::before {
                left: 0;
                top: 0;
            }

            &::after {
                right: 0;
                bottom: 0;
            }

            &:hover {

                &::before,
                &::after {
                    width: 100%;
                }
            }

            &.popular {
                top: -20px;
                .label {
                    position: absolute;
                    writing-mode: vertical-rl;
                    background-color: $main-color;
                    color: white;
                    font-weight: bold;
                    padding: 10px 10px 35px 10px;
                    font-size: 18px;
                    right: 20px;
                    width: 40px;
                    
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        border-style: solid;
                        border-color: transparent transparent white;
                        border-width: 20px;
                    }
                }
            } 

            .title {
                font-weight: bold;
                margin: 30px 0;
                font-size: 25px;
                letter-spacing: -1px;
            }

            img {
                width: 150px;
            }

            .amount {
                display: block;
                font-size: 60px;
                font-weight: bold;
                margin-bottom: 5px;
                color: $main-color;
            }

            .time {
                color: #777;
            }

            ul {
                text-align: right;

                li {
                    padding: 20px;
                    border-top: 1px solid #eee;

                    .icon {
                        margin-left: 10px;
                        font-weight: 900;
                        color: $main-color
                    }
                }
            }

            a {
                display: block;
                width: fit-content;
                border: 2px solid $main-color;
                color: $main-color;
                margin: 30px auto 40px;
                padding: 15px 20px;
                border-radius: 6px;
                font-weight: bold;
                transition: $main-transition;

                &:hover {
                    background-color: $main-color-alt;
                    border-color: $main-color-alt;
                    color: white;
                }
            }
        }
    }
}

/* Start Videos */
.videos {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;

    .holder {
        display: flex;
        justify-content: center;
        background-color: $section-background;
        border: 1px solid #ddd;

        .list {
            min-width: 300px;
            background-color: white;

            .name {
                display: flex;
                justify-content: space-between;
                padding: 20px;
                background-color: #f4f4f4;
                font-weight: bold;
            }

            ul li {
                padding: 20px;
                border-top: 1px solid $section-background;
                cursor: pointer;
                transition: $main-transition;

                &:hover {
                    background-color: #fafafa;
                    color: $main-color;
                }

                span {
                    display: block;
                    margin-top: 10px;
                    color: #777;
                }
            }
        }

        .preview {
            background-color: #e2e2e2;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;

            img {
                max-width: 100%;
            }

            .info {
                padding: 20px;
                background-color: white;
                margin-top: 10px;
            }
        }
    }

    .video-box {
        background-image: url(../assets/imgs/cars-video.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        width: 100%;
        position: relative;

        .play-btn {
            width: 94px;
            height: 94px;
            background: radial-gradient(#e81c22 50%, rgb(232 28 34 / 47%) 52%);
            border-radius: 50%;
            display: block;
            position: absolute;
            left: calc(50% - 47px);
            top: calc(50% - 47px);
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 0;
                height: 0;
                transform: translateX(-50%) translateY(-50%);
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 15px solid #fff;
                z-index: 100;
                transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
        }
    }
}

/* Start Stats */
.stats {
    padding-top: $main-padding-top;
    padding-bottom: $main-padding-bottom;
    position: relative;
    background-image: url("../assets/imgs/stats.jpg");
    background-size: cover;
    min-height: 300px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255 255 255 / 95%);
    }

    h2 {
        font-weight: bold;
        font-size: 40px;
        width: fit-content;
        margin: 0 auto 50px;
        position: relative;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;

        .box {
            background-color: white;
            padding: 30px 15px;
            text-align: center;
            position: relative;
            opacity: 0.8;
            transition: $main-transition;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 2px;
                background-color: $main-color;
                transition: 1s;
                height: 0;
            }

            &::before {
                top: 0;
                right: 0;
            }

            &::after {
                left: 0;
                bottom: 0;
            }

            &:hover {
                opacity: 1;

                &::before,
                &::after {
                    height: 100%;
                }
            }
            .icon {
                font-size: 50px;
            }
            .number {
                display: block;
                font-size: 50px;
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .text {
                color: $main-color;
                font-style: italic;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;

    .image {
        background-image: url(../assets/imgs/discount-background1.jpg);
        background-size: cover;
        color: white;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        animation: change-background 10s linear infinite;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(232 28 34 / 95%);
            z-index: -1;
        }
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
        padding-bottom: 50px;

        .input {
            display: block;
            width: 350px;
            margin-bottom: 25px;
            padding: 15px;
            border: none;
            border-bottom: 1px solid #ccc;
            background-color: #f9f9f9;
            caret-color: $main-color;

            &:focus {
                outline: none;
            }
        }

        textarea.input {
            resize: none;
            height: 200px;
        }

        [type="submit"] {
            display: block;
            width: 100%;
            padding: 15px;
            background-color: $main-color;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border: none;
            cursor: pointer;
            transition: $main-transition;

            &:hover {
                background-color: $main-color-alt;
            }
        }
    }

    .content {
        text-align: center;
        padding: 0 20px;

        h2 {
            font-size: 40px;
            letter-spacing: -2px;
        }

        p {
            line-height: 1.6;
            font-size: 18px;
            max-width: 500px;
        }

        img {
            width: 300px;
            max-width: 100%;
        }
    }
}

/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;

        .box {
            h3 {
                color: white;
                font-size: 40px;
                margin: 0 0 20px;
            }

            .social {
                display: flex;

                li {
                    margin-right: 10px;

                    a {
                        background-color: #313131;
                        color: #b9b9b9;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        font-size: 20px;
                        transition: $main-transition;
                    }
                }

                .facebook:hover {
                    background-color: #1877f2;
                }

                .twitter:hover {
                    background-color: #1da1f2;
                }

                .youtube:hover {
                    background-color: #ff0000;
                }
            }

            .text {
                line-height: 2;
                color: #b9b9b9;
            }

            .links li {
                padding: 15px 0;
                transition: $main-transition;

                &:not(:last-child) {
                    border-bottom: 1px solid #444;
                }

                &:hover {
                    padding-left: 10px;

                    a {
                        color: white;
                    }
                }

                a {
                    color: #b9b9b9;
                    transition: $main-transition;

                    .icon {
                        font-weight: 900;
                        margin-left: 10px;
                        color: $main-color;
                    }
                }
            }

            .line {
                display: flex;
                align-items: center;
                color: #b9b9b9;
                margin-bottom: 30px;

                .icon {
                    color: $main-color;
                    margin-left: 10px;
                }

                .info {
                    line-height: 1.7;
                    flex: 1;

                    span {
                        display: block;
                    }
                }
            }
        }

        .footer-gallery img {
            width: 100%;
            margin: 2px;
        }

    }
    .copyright {
        padding: 25px 0;
        text-align: center;
        color: white;
        margin: 50px 0 0;
        border-top: 1px solid #444;
    }
}